.about {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 6.25rem 0;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  padding: 5.5rem 4.38rem;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 10%);
}

.about-title-holder {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 3rem;
}

.about-title,
.about-subtitle {
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  line-height: 1;
}

.about-title {
  color: #f9004d;
  font-weight: 900;
  margin: 0;
}

.about-title span {
  display: block;
  padding-left: 4.06rem;
  color: #000;
}

.about-subtitle {
  line-height: 1.1;
  margin: 0;
}

.about-text p {
  line-height: 1.8;
}

.about-img {
  width: 25%;
  margin-left: 1.88rem;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* FEATURES */

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.88rem;
  padding-top: 5rem;
}

.feature-item {
  border-bottom: 4px solid transparent;
  padding: 1.5rem 1.88rem;
  transition: all ease 0.3s;
}

.feature-item:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 10%);
  border-color: #f9004d;
}

.feature-icon {
  width: 60px;
  margin: 0 auto 0.5rem;
}

.feature-icon img {
  width: 100%;
}

.feature-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.13rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

/* MEDIA */

@media (max-width: 767px) {
  .about-img {
    display: none;
  }
}

@media (max-width: 540px) {
  .about-text {
    padding: 3rem 2rem;
  }

  .about-title-holder {
    display: block;
    margin-bottom: 1rem;
  }

  .about-title span {
    display: inline;
    padding: 0;
  }

  .about-title {
    margin-bottom: 1rem;
  }
}
